body {
    background-color: #e8ebf1;
    background-image: url("/images/bg-repeat.jpg");
    background-position: top;
    background-repeat: repeat-y;
    font-family: 'Michroma', sans-serif;
}
header {
    margin-top: 30px;
    margin-bottom: 30px;
}
header img {
    display: block;
    margin: auto;
}
.terran {
    background-image: url("/images/terran.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5d9bfb;
}
.protoss {
    background-image: url("/images/protoss.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5d9bfb;
}
.zerg {
    background-image: url("/images/zerg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5d9bfb;
}
.gamers {
    background-image: url("/images/gamers.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #5d9bfb;
}
.flatBluec {
    color: #5d9bfb !important;
}
.dashboard-stats {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    min-height: 107px;
    padding: 3px;
    padding-left: 5%;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.dashboard-stats .left {
    float: left;
    padding-top: 5px;
}
.dashboard-stats .left h3 {
    font-size: 30px;
    font-weight: 300;
}
.dashboard-stats .left h4 {
    font-size: 16px;
    font-weight: 300;
    color: #9398a0;
    line-height: 24px;
}
.dashboard-stats .right {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 30%;
    max-width: 50px;
    bottom: 3px;
    border-radius: 2px;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}
.dashboard-stats .right i {
    vertical-align: middle;
    line-height: 107px;
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    .dashboard-stats .left {
        float: left;
        padding-top: 5px;
    }
    .dashboard-stats .left h3 {
        font-size: 20px;
    }
    .dashboard-stats .left h4 {
        font-size: 12px;
    }
    .dashboard-stats .right {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 35%;
        bottom: 3px;
        border-radius: 2px;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;
    }
    .dashboard-stats .right i {
        vertical-align: middle;
        line-height: 107px;
    }
}
.panel {
    background-image: linear-gradient(rgb(0, 37, 85) 0%, rgb(0, 13, 32) 400px);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    border: 1px solid #5387a8;
}
td {
    color: #5387a8;
}
th {
    color: #fff;
    font-size: 18px;
}
.table>tbody>tr>td {
    border-top: 1px solid #5387a8;
}
.panel > .panel-heading {
    border-bottom: 1px solid #e9e9e9;
    font-weight: normal;
    background: none;
    display: table;
    width: 100%;
    padding-top: 0;
}
.panel > .panel-heading h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-top: 20px;
    float: right;
    color: #fff;
}
form {
    margin-top: 20px;
    padding-top: 10px;
}
